$content-width: 1170px;
$container-offset: 20px;
$container-width: calc($content-width + ($container-offset * 2));

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$color-main: rgb(202, 143, 17);
$color-primary: #77b2d3;

$text-color: #333333;
$body-bg: #f7f6ff;

$font-size: rem(16);
$font-size-sm: 0.8em;
$font-family: 'Manrope', sans-serif;

$nav-color: #333333;
$nav-text-color: $text-color;
$nav-text-color-active: $color-main;
$nav-opened-text-color: #f7f6ff;
$nav-font-size: $font-size;
$nav-opened-font-size: rem(34);
$nav-opened-font-size-sm: rem(24);

$burger-color: $text-color;
$burger-color-active: #f7f6ff;

$zi-dropdown: 1000;
$zi-sticky: 1020;
$zi-fixed: 1030;
$zi-modal-backdrop: 1040;
$zi-offcanvas: 1050;
$zi-modal: 1060;
$zi-popup: 1070;
$zi-tooltip: 1080;
