section.mainscreen
  .container
    .mainscreen__row
      .mainscreen__content
        h1.mainscreen__title
          | Увеличиваем <br>
          | <span>продажи в интернете</span>
        p.mainscreen__desc
          | Создайте эталонный бизнес-процесс, по которому будут работать
          | все sales менеджеры, это повысит производительность и качество
          | sales-процесса в среднем на 30%
        ul.mainscreen__tags
          li.mainscreen__tag
            a(href='#') Комплексные решения
          li.mainscreen__tag
            a(href='#') CMM
          li.mainscreen__tag
            a(href='#') Дизайн
      img.mainscreen__image(src='@img/mainscreen-phone.svg', alt='Комплекс решений по повышению продаж')
