include ../burger/burger.pug

include ../nav/nav.pug

header.header
   .container
      .header__row
        a.header__logo(href='index.html')
          img(src='@img/logo.png', alt='Логотип')

        +burger()

        +navMenu()

        a.header__callback(href='#')
          <span class='header__callback--standard'>Обратная связь</span>
          <span class='header__callback--mobile'>Связаться</span>
