footer.footer
  .footer__top.footer-top
    .container
      .footer-top__row
        .footer-top__block.footer-top__block--main
          a.footer-top__logo(href='index.html')
            img(src='@img/logo.png', alt='Логотип')
          a.footer-top__main-link(href='#')
            span Политика <br> конфиденциальности
          a.footer-top__callback(href='#') Обратная связь

        .footer-top__block.footer-top__block--info
          h4.footer-top__title Информация
          ul.footer-top__links
            li.footer-top__link
              a(href='index.html') Главная
            li.footer-top__link
              a(href='#') Услуги
            li.footer-top__link
              a(href='#') Наши работы
            li.footer-top__link
              a(href='#') Контакты

        .footer-top__block.footer-top__block--info
          h4.footer-top__title Услуги
          ul.footer-top__links
            li.footer-top__link
              a(href='#') Реклама
            li.footer-top__link
              a(href='#') Дизайн вывесок и рекламы
            li.footer-top__link
              a(href='#') Дизайн сайтов в Tilda
            li.footer-top__link
              a(href='#') СМИ

  .footer__copyright
    .container
      p.footer__copyright-text © 2021 Все права защищены
