section.stats
  .container
    .stats__block
      h2.stats__title Мы знаем толк в бизнесе!
      ul.stats__list
        li.stats__item
          h3.stats__item-title <span>10</span> лет
          p.stats__item-desc В сферах рекламы
        li.stats__item
          h3.stats__item-title более <span>500</span>
          p.stats__item-desc Наших постоянных клиентов
        li.stats__item
          h3.stats__item-title <span>+10%</span>
          p.stats__item-desc Конверсия продаж
        li.stats__item
          h3.stats__item-title <span>-70%</span>
          p.stats__item-desc Ошибок менеджеров
